*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#hero{
    width:100%;
    height: 100vh;
    background-image: url(images/b1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.navbar{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;

}
.navbar .logo{
    width: 60px;
    margin: 30px 0;
    cursor: pointer;
}
.user{
    display: flex;
    align-items: 50px;
}
.user img{
    width: 30px;
    margin-left: 50px;
    cursor: pointer;
}
button{
    padding: 8px 25px;
    background: transparent;
    outline: none;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;

}
.container{
    width: 50%;
    height: 100vh;
    background: rgba(80,80,80,0.3 );
    backdrop-filter: blur(10px);
    position: absolute;
    left: 0;
    top: 0;
}
.info{
    width: 550px;
    color: #fff;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
}
.info h1{
    font-size: 50px;
    letter-spacing: 5px;

}
.info p{
    color: #f0fee1;
    font-size: 10px;
    margin: 20px 0;
    line-height: 18px;

}
.info input{
    width: 50%;
    padding: 8px 10px;
    outline: none;
    border: 2px solid #fff;
    border-radius: 20px;
    background: transparent;
    color: #fff;
    font-size: 12px;

}
::placeholder{
    color: #ccc;
}
.slider{
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 30px;

}
#prev {
    width: 20px;
    cursor: pointer;
    margin-left: 5px; /* Add some space to the left of the prev button */
}
#next{
    width: 20px;
    cursor: pointer;
    
}

.preview{

    display: flex;
    align-items: baseline;
    margin: 0 80px;

}
.preview img{
    width: 100px;
    margin: 0 10px;
    opacity: 0.4;
}
.preview .active{
    display: block;
    border: 3px solid #fff;
    width: 100px;
    opacity: 1;
}